@let currentTheme = isDarkTheme();
<div class="content">
  <header class="content__header">
    <h1 class="content__header__title">List of consultants</h1>
    <app-pagination />
    <div class="content__header__buttons">
      <button class="content__header__buttons__order" (click)="toggleOrder()"> {{ isAscendingSort() ? 'Ascending' :
        'Descending'
        }}</button>
      <button class="content__header__buttons__theme" (click)="toggleTheme()"> {{ currentTheme ? '&#127770;' :
        '&#127774;'
        }}</button>
    </div>
  </header>
  <section>
    @for (consultant of consultantsList$ | async; track consultant.fullname) {
    <app-card class="content__list" [consultant]="consultant" />
    } @empty {
    <div>There are no items.</div>
    }
  </section>
</div>
